/*
  Date Range Picker Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules';

.date-range-picker {
  position: absolute;
  top: 10%;
  right: 50%;
}